header{
    display: flex;
    background-color: #000;
    padding: 10px 20px;
    border-bottom: 10px solid #9ED0E6;
    justify-content: space-between;

    }

h1{
    display: inline-flex;
    align-items: center;
    font-family: "Press Start 2P", sans-serif;
    color: #FFF;
    text-shadow: 3px 3px 2px #4266C9;
    
    }


a{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    text-decoration: none;
    margin-right: 30px;
    transition: transform 150ms ease;
        }

a::before{
        content: "";
        background-color: #4266C9;
        width: 10px;
        height: 10px;
        margin-right: 10px;


    }

    a:hover{
        transform: scale(1.05);
    }

#button{
    display: inline-block;
    background-color: #4266C9;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin: 0px;

}


.main-box{
    display: inline-flex;
    background-color: #4266C9;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 627px;
    height: 184px;
    margin-top: 116px;
    margin-left: 91px;

}

h2{
    
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: #FFF;
    text-shadow: 3px 3px 2px #4266C9;
    padding-top: 42px;
    margin: 0px;
    

    
    }

p{
    color: #FFF;
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 2px #000;
    padding-bottom: 51px;
    margin: 0px;

   
}
